body {
	display: flex;
	flex-direction: column;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	min-height: 100vh;
	align-items:  center;
	margin: 0;
	color: #484848;
	width: 100%;
	overflow-x: hidden;
}

.container {
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	width: 100%;
}